body {
  background-color: bisque;
}

.nav-link {
  color: black;
  text-decoration-line: none;
}

.nav-link:hover{
  color: grey;
}


#nav-bar {
    width: 95%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  #header-img {
    height: 75px;
    border-radius: 30px;
  }

  header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  }

  #form {
    margin-top: 80px;
  }
  
  @media only screen and (max-width: 720px) {
    .image-wrapper {
      grid-template-columns: 1fr;
    }
  }